@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    color: #555;
    padding: 0px;
    margin: 0px;
    background-color: #fafafa;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d0e8ff;
    padding: 1rem 2rem;
}

img {
    width: 4em;
    height: 4rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem
}

.menu li a {
    color: #1A202C;
    text-decoration: none;
}

.menu li a:hover {
    color: #A9D4FF;
    text-decoration: underline;
}


/* Header responsive */
@media (max-width: 600px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #222;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        border-radius: 4px;
        padding: 10px;

    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }
}

/* Mostrar menú toggle solo en movil */

.menu-toggle {
    display: none;
    color: #333;
    font-size: 1.5rem;
}

/* Estilo about */
#about {
    padding: 2rem;
    background-color: #FFF;
    MARGIN: 1rem o;
    border-radius: 2rem;

}

/* Estilo fot-perfil */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 1rem;
    border: 4px solid #fb9b9b;
    object-fit: cover;

}